{"openapi":"3.0.1","info":{"title":"Shopping Fortaleza CRM API","description":"Loyalty programme and store directory API","version":"v1"},"servers":[{"url":"http://api.appshoppingfortaleza.ao","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Carousel","description":"Mobile carousel management"},{"name":"Public Events","description":"Browse Shopping Fortaleza events"},{"name":"Administrative Loyalty","description":"Global loyalty programme reporting"},{"name":"Customer Loyalty","description":"Wallet balance, points history, rewards catalog, and redemptions"},{"name":"Loyalty","description":"Points and reward redemption operations"},{"name":"Public Stores","description":"Browse the Shopping Fortaleza store directory"},{"name":"Public Carousel","description":"Mobile carousel"},{"name":"Events","description":"Shopping Fortaleza event management"},{"name":"Users","description":"Administrative user and store membership management"},{"name":"Stores","description":"Shopping Fortaleza store directory management"},{"name":"Store Content Management","description":"Store text and video publishing"},{"name":"Invoices","description":"Invoice submission, OCR result intake, and validation"},{"name":"Authentication","description":"Registration, login, and authenticated profile"},{"name":"Admin Invoices","description":"Admin invoice listing, detail, OCR, and validation data"}],"paths":{"/api/auth/profile":{"get":{"tags":["Authentication"],"summary":"Get the authenticated profile","operationId":"profile","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}},"put":{"tags":["Authentication"],"summary":"Update the authenticated profile","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/auth/profile/photo":{"get":{"tags":["Authentication"],"summary":"Get the authenticated customer's profile photo","operationId":"profilePhoto","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["Authentication"],"summary":"Replace the authenticated customer's profile photo","operationId":"updateProfilePhoto","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["photo"],"type":"object","properties":{"photo":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/admin/users/{id}":{"get":{"tags":["Users"],"summary":"Get a user","operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}},"put":{"tags":["Users"],"summary":"Update a user","operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}},"delete":{"tags":["Users"],"summary":"Deactivate a user","operationId":"deactivateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}}},"/api/admin/stores/{id}":{"get":{"tags":["Stores"],"summary":"Get a store","operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"put":{"tags":["Stores"],"summary":"Replace store details","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"delete":{"tags":["Stores"],"summary":"Deactivate a store","operationId":"deactivate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{id}/logo":{"get":{"tags":["Stores"],"summary":"Get a store logo","operationId":"logo_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["Stores"],"summary":"Replace a store logo","operationId":"replaceLogo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["logo"],"type":"object","properties":{"logo":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{id}/invoice-template":{"get":{"tags":["Stores"],"summary":"Get the official invoice template of a store","operationId":"invoiceTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["Stores"],"summary":"Replace the official invoice template of a store","operationId":"replaceInvoiceTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["invoiceTemplate"],"type":"object","properties":{"invoiceTemplate":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{id}/image":{"get":{"tags":["Stores"],"summary":"Get a store image","operationId":"image_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["Stores"],"summary":"Replace a store image","operationId":"replaceImage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/store-content/{id}":{"get":{"tags":["Store Content Management"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}},"put":{"tags":["Store Content Management"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}},"delete":{"tags":["Store Content Management"],"operationId":"unpublish","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}}},"/api/admin/store-content/{id}/video":{"put":{"tags":["Store Content Management"],"operationId":"video","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["video"],"type":"object","properties":{"video":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}}},"/api/admin/events/{id}":{"get":{"tags":["Events"],"summary":"Get an event","operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}},"put":{"tags":["Events"],"summary":"Update an event","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/EventRequest"},"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}},"delete":{"tags":["Events"],"summary":"Delete an event","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/admin/events/{id}/image":{"get":{"tags":["Events"],"summary":"Get an event image","operationId":"image_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["Events"],"summary":"Replace an event image","operationId":"replaceImage_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/admin/carousel-slides/{id}":{"get":{"tags":["Carousel"],"summary":"Get a carousel slide","operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CarouselResponse"}}}}}},"put":{"tags":["Carousel"],"summary":"Update a carousel slide","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/CarouselRequest"},"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CarouselResponse"}}}}}},"delete":{"tags":["Carousel"],"summary":"Delete a carousel slide","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/loyalty/redemptions":{"get":{"tags":["Customer Loyalty"],"summary":"Get the authenticated customer's redemption history","operationId":"redemptions","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageRedemptionResponse"}}}}}},"post":{"tags":["Loyalty"],"summary":"Redeem a reward with points","operationId":"redeemReward","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedemptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/RedemptionResponse"}}}}}}},"/api/invoices":{"post":{"tags":["Invoices"],"summary":"Submit an invoice and its OCR result","operationId":"submitInvoice","parameters":[{"name":"storeId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"invoiceNumber","in":"query","required":true,"schema":{"type":"string"}},{"name":"issuerTaxId","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerTaxId","in":"query","required":false,"schema":{"type":"string"}},{"name":"invoiceDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"totalAmount","in":"query","required":true,"schema":{"type":"number"}},{"name":"extractedText","in":"query","required":false,"schema":{"type":"string"}},{"name":"confidence","in":"query","required":true,"schema":{"type":"number"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}},"/api/invoices/qr":{"post":{"tags":["Invoices"],"summary":"Scan a fiscal QR code, read the invoice, and submit it","operationId":"submitByQr","parameters":[{"name":"qrContent","in":"query","required":true,"schema":{"type":"string"}},{"name":"customerTaxId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}},"/api/auth/register":{"post":{"tags":["Authentication"],"summary":"Register a customer","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/auth/password-reset/request":{"post":{"tags":["Authentication"],"summary":"Send a password reset code by email, using email or phone as identifier","operationId":"requestPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequest"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AcceptedResponse"}}}}}}},"/api/auth/password-reset/confirm":{"post":{"tags":["Authentication"],"summary":"Set a new password using an email OTP","operationId":"confirmPasswordReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/auth/login":{"post":{"tags":["Authentication"],"summary":"Authenticate a customer","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/auth/email-otp/registration/verify":{"post":{"tags":["Authentication"],"summary":"Confirm an email OTP, create the customer, and authenticate","operationId":"verifyOtpRegistration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailOtpVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AuthResult"}}}}}}},"/api/auth/email-otp/registration/request":{"post":{"tags":["Authentication"],"summary":"Send an email OTP to confirm a customer registration","operationId":"requestOtpRegistration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailOtpRegistrationRequest"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AcceptedResponse"}}}}}}},"/api/auth/email-otp/login/verify":{"post":{"tags":["Authentication"],"summary":"Authenticate a customer using an email OTP","operationId":"verifyOtpLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailOtpVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AuthResult"}}}}}}},"/api/auth/email-otp/login/request":{"post":{"tags":["Authentication"],"summary":"Send a passwordless login code to an existing customer","operationId":"requestOtpLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailOtpRequest"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AcceptedResponse"}}}}}}},"/api/auth/admin/login":{"post":{"tags":["Authentication"],"summary":"Authenticate an administrator","operationId":"adminLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/auth/2fa/setup":{"post":{"tags":["Authentication"],"summary":"Start two-factor authentication setup","operationId":"setupTwoFactor","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/auth/2fa/enable":{"post":{"tags":["Authentication"],"summary":"Confirm and enable two-factor authentication","operationId":"enableTwoFactor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwoFactorCodeRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/admin/users":{"get":{"tags":["Users"],"summary":"List users","operationId":"listUsers","parameters":[{"name":"role","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageAdminUserResponse"}}}}}},"post":{"tags":["Users"],"summary":"Create a back-office or store user","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}}},"/api/admin/stores":{"get":{"tags":["Stores"],"summary":"List stores","operationId":"list_5","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageStoreResponse"}}}}}},"post":{"tags":["Stores"],"summary":"Create a store","operationId":"create","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data","image","invoiceTemplate"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/StoreRequest"},"image":{"type":"string","format":"binary"},"logo":{"type":"string","format":"binary"},"invoiceTemplate":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{storeId}/users":{"post":{"tags":["Users"],"summary":"Associate a user with a store","operationId":"associateUser","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUserRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/store-content":{"get":{"tags":["Store Content Management"],"operationId":"list_6","parameters":[{"name":"p","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageContentResponse"}}}}}},"post":{"tags":["Store Content Management"],"operationId":"create_1","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContentRequest"},"video":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}}},"/api/admin/events":{"get":{"tags":["Events"],"summary":"List all events","operationId":"list_7","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageEventResponse"}}}}}},"post":{"tags":["Events"],"summary":"Create an event","operationId":"create_2","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/EventRequest"},"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/admin/carousel-slides":{"get":{"tags":["Carousel"],"summary":"List carousel slides","operationId":"list_8","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageCarouselResponse"}}}}}},"post":{"tags":["Carousel"],"summary":"Create a carousel slide","operationId":"create_3","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["data","image"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/CarouselRequest"},"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CarouselResponse"}}}}}}},"/api/notifications/{id}/read":{"patch":{"tags":["customer-notification-controller"],"operationId":"markRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"/api/invoices/{id}/validation":{"patch":{"tags":["Invoices"],"summary":"Approve or reject an invoice","operationId":"validateInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateInvoiceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceValidationResponse"}}}}}}},"/api/admin/users/{id}/toggle":{"patch":{"tags":["Users"],"summary":"Toggle user active status","operationId":"toggleUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}}},"/api/admin/users/{id}/deactivate":{"patch":{"tags":["Users"],"summary":"Deactivate a user","operationId":"deactivateUserExplicitly","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}}},"/api/admin/users/{id}/activate":{"patch":{"tags":["Users"],"summary":"Activate a user","operationId":"activateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminUserResponse"}}}}}}},"/api/admin/stores/{id}/toggle":{"patch":{"tags":["Stores"],"summary":"Toggle store active status","operationId":"toggle","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{id}/deactivate":{"patch":{"tags":["Stores"],"summary":"Deactivate a store","operationId":"deactivateExplicitly","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/stores/{id}/activate":{"patch":{"tags":["Stores"],"summary":"Activate a store","operationId":"activate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/admin/events/{id}/toggle":{"patch":{"tags":["Events"],"summary":"Toggle event active status","operationId":"toggle_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/admin/events/{id}/deactivate":{"patch":{"tags":["Events"],"summary":"Deactivate an event","operationId":"deactivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/admin/events/{id}/cancel":{"patch":{"tags":["Events"],"summary":"Cancel an event","operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/admin/events/{id}/activate":{"patch":{"tags":["Events"],"summary":"Activate an event","operationId":"activate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/public/stores":{"get":{"tags":["Public Stores"],"summary":"List active stores","operationId":"list","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageStoreSummary"}}}}}}},"/api/public/stores/{id}":{"get":{"tags":["Public Stores"],"summary":"Get an active store","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/StoreSummary"}}}}}}},"/api/public/stores/{id}/logo":{"get":{"tags":["Public Stores"],"summary":"Get a store logo","operationId":"logo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/public/stores/{id}/image":{"get":{"tags":["Public Stores"],"summary":"Get a store image","operationId":"image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/public/events":{"get":{"tags":["Public Events"],"summary":"List active events","operationId":"list_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageEventSummary"}}}}}}},"/api/public/events/{id}":{"get":{"tags":["Public Events"],"summary":"Get an active event","operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/EventSummary"}}}}}}},"/api/public/events/{id}/image":{"get":{"tags":["Public Events"],"summary":"Get an event image","operationId":"image_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/public/content":{"get":{"tags":["public-content-controller"],"operationId":"list_2","parameters":[{"name":"storeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"p","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageContentResponse"}}}}}}},"/api/public/content/{id}":{"get":{"tags":["public-content-controller"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ContentResponse"}}}}}}},"/api/public/content/{id}/video":{"get":{"tags":["public-content-controller"],"operationId":"video_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/public/carousel-slides":{"get":{"tags":["Public Carousel"],"summary":"List carousel slides","operationId":"list_3","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CarouselSlideResponse"}}}}}}}},"/api/public/carousel-slides/{id}/image":{"get":{"tags":["Public Carousel"],"summary":"Get a carousel image","operationId":"image_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/notifications":{"get":{"tags":["customer-notification-controller"],"operationId":"list_4","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageNotificationResponse"}}}}}}},"/api/notifications/unread-count":{"get":{"tags":["customer-notification-controller"],"operationId":"unreadCount","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/loyalty/wallet":{"get":{"tags":["Customer Loyalty"],"summary":"Get the authenticated customer's points wallet","operationId":"wallet","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/WalletResponse"}}}}}}},"/api/loyalty/transactions":{"get":{"tags":["Customer Loyalty"],"summary":"Get the authenticated customer's points history","operationId":"transactions","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageTransactionResponse"}}}}}}},"/api/loyalty/rewards":{"get":{"tags":["Customer Loyalty"],"summary":"List available rewards","operationId":"rewards","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageRewardResponse"}}}}}}},"/api/loyalty/rewards/{id}":{"get":{"tags":["Customer Loyalty"],"summary":"Get one available reward","operationId":"reward","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/RewardResponse"}}}}}}},"/api/loyalty/redemptions/{id}":{"get":{"tags":["Customer Loyalty"],"summary":"Get one redemption belonging to the authenticated customer","operationId":"redemption","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/RedemptionResponse"}}}}}}},"/api/invoices/mine":{"get":{"tags":["Invoices"],"summary":"List invoices submitted by the authenticated customer","operationId":"myInvoices","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageCustomerInvoiceResponse"}}}}}}},"/api/invoices/mine/{id}":{"get":{"tags":["Invoices"],"summary":"Get one invoice submitted by the authenticated customer","operationId":"myInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/CustomerInvoiceResponse"}}}}}}},"/api/admin/loyalty/transactions":{"get":{"tags":["Administrative Loyalty"],"summary":"List all points transactions","operationId":"transactions_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageTransactionResponse"}}}}}}},"/api/admin/loyalty/summary":{"get":{"tags":["Administrative Loyalty"],"summary":"Get global points totals","operationId":"summary","responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/SummaryResponse"}}}}}}},"/api/admin/loyalty/rewards":{"get":{"tags":["Administrative Loyalty"],"summary":"List all rewards","operationId":"rewards_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageRewardResponse"}}}}}}},"/api/admin/loyalty/redemptions":{"get":{"tags":["Administrative Loyalty"],"summary":"List all redemptions","operationId":"redemptions_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageRedemptionResponse"}}}}}}},"/api/admin/invoices":{"get":{"tags":["Admin Invoices"],"summary":"List all invoices with optional status filter","operationId":"listInvoices","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sort","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["id","desc"]}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/PageAdminInvoiceResponse"}}}}}}},"/api/admin/invoices/{id}":{"get":{"tags":["Admin Invoices"],"summary":"Get invoice detail","operationId":"getInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/AdminInvoiceResponse"}}}}}}},"/api/admin/invoices/{id}/validation":{"get":{"tags":["Admin Invoices"],"summary":"Get validation result for an invoice","operationId":"getValidation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/ValidationResponse"}}}}}}},"/api/admin/invoices/{id}/ocr":{"get":{"tags":["Admin Invoices"],"summary":"Get OCR result for an invoice","operationId":"getOcr","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/OcrResponse"}}}}}}},"/api/admin/invoices/{id}/image":{"get":{"tags":["Admin Invoices"],"summary":"Get the original invoice image","operationId":"getImage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/admin/carousel-slides/{id}/image":{"get":{"tags":["Carousel"],"summary":"Get a carousel image","operationId":"image_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/hal+json":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/auth/2fa":{"delete":{"tags":["Authentication"],"summary":"Disable two-factor authentication","operationId":"disableTwoFactor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisableTwoFactorRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}}},"components":{"schemas":{"UpdateProfileRequest":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"photoUrl":{"type":"string"},"status":{"type":"string"},"twoFactorEnabled":{"type":"boolean"},"lastLogin":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateUserRequest":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"AdminUserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"photoUrl":{"type":"string"},"status":{"type":"string"},"twoFactorEnabled":{"type":"boolean"},"lastLogin":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"roles":{"type":"array","items":{"type":"string"}}}},"StoreRequest":{"required":["category","contact","floor","legalName","name","openingHours","taxId"],"type":"object","properties":{"name":{"maxLength":200,"minLength":0,"type":"string"},"description":{"maxLength":1000,"minLength":0,"type":"string"},"category":{"maxLength":120,"minLength":0,"type":"string"},"floor":{"type":"string","enum":["GROUND_FLOOR","FLOOR_1","FLOOR_2","FLOORS_2_AND_4","FLOOR_3","FLOOR_4","FLOOR_4_TERRACE"]},"openingHours":{"maxLength":120,"minLength":0,"type":"string"},"contact":{"maxLength":30,"minLength":0,"type":"string"},"facebookUrl":{"maxLength":500,"minLength":0,"type":"string"},"instagramUrl":{"maxLength":500,"minLength":0,"type":"string"},"sourceUrl":{"maxLength":500,"minLength":0,"type":"string"},"email":{"maxLength":150,"minLength":0,"type":"string"},"address":{"maxLength":500,"minLength":0,"type":"string"},"legalName":{"maxLength":200,"minLength":0,"type":"string"},"taxId":{"pattern":"[0-9]{9,15}","type":"string"}}},"StoreResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"floor":{"type":"string","enum":["GROUND_FLOOR","FLOOR_1","FLOOR_2","FLOORS_2_AND_4","FLOOR_3","FLOOR_4","FLOOR_4_TERRACE"]},"openingHours":{"type":"string"},"contact":{"type":"string"},"facebookUrl":{"type":"string"},"instagramUrl":{"type":"string"},"sourceUrl":{"type":"string"},"imageUrl":{"type":"string"},"logoUrl":{"type":"string"},"email":{"type":"string"},"address":{"type":"string"},"legalName":{"type":"string"},"taxId":{"type":"string"},"invoiceTemplateUrl":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateRequest":{"required":["status","title"],"type":"object","properties":{"title":{"maxLength":200,"minLength":0,"type":"string"},"bodyText":{"maxLength":10000,"minLength":0,"type":"string"},"status":{"type":"string"}}},"ContentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"authorId":{"type":"integer","format":"int64"},"authorName":{"type":"string"},"title":{"type":"string"},"bodyText":{"type":"string"},"videoUrl":{"type":"string"},"status":{"type":"string"},"publishedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EventRequest":{"required":["endDate","startDate","title"],"type":"object","properties":{"title":{"maxLength":200,"minLength":0,"type":"string"},"description":{"maxLength":2000,"minLength":0,"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"location":{"maxLength":300,"minLength":0,"type":"string"}}},"EventResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"location":{"type":"string"},"status":{"type":"string"},"createdBy":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CarouselRequest":{"required":["title"],"type":"object","properties":{"title":{"maxLength":200,"minLength":0,"type":"string"}}},"CarouselResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"imageUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"RedemptionRequest":{"required":["rewardId"],"type":"object","properties":{"rewardId":{"type":"integer","format":"int64"}}},"RedemptionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"rewardId":{"type":"integer","format":"int64"},"code":{"type":"string"},"pointsUsed":{"type":"integer","format":"int64"},"status":{"type":"string"},"redeemedAt":{"type":"string","format":"date-time"},"usedAt":{"type":"string","format":"date-time"}}},"InvoiceResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"invoiceNumber":{"type":"string"},"issuerTaxId":{"type":"string"},"customerTaxId":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"totalAmount":{"type":"number"},"points":{"type":"integer","format":"int64"},"status":{"type":"string"},"note":{"type":"string"}}},"RegisterRequest":{"required":["email","name"],"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"type":"string"}}},"PasswordResetRequest":{"required":["identifier"],"type":"object","properties":{"identifier":{"type":"string"}}},"AcceptedResponse":{"type":"object","properties":{"message":{"type":"string"}}},"PasswordResetConfirmRequest":{"required":["code","identifier","newPassword"],"type":"object","properties":{"identifier":{"type":"string"},"code":{"pattern":"\\d{6}","type":"string"},"newPassword":{"maxLength":2147483647,"minLength":8,"type":"string"}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"},"code":{"pattern":"\\d{6}","type":"string"}}},"EmailOtpVerifyRequest":{"required":["code","email"],"type":"object","properties":{"email":{"type":"string"},"code":{"pattern":"\\d{6}","type":"string"}}},"AuthResult":{"type":"object","properties":{"token":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"}}},"EmailOtpRegistrationRequest":{"required":["email","name","password"],"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"type":"string"}}},"EmailOtpRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string"}}},"TwoFactorCodeRequest":{"required":["code"],"type":"object","properties":{"code":{"pattern":"\\d{6}","type":"string"}}},"UserRequest":{"required":["email","name","role"],"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"type":"string"},"role":{"type":"string"},"storeId":{"type":"integer","format":"int64"},"jobTitle":{"type":"string"}}},"StoreUserRequest":{"required":["userId"],"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"jobTitle":{"type":"string"}}},"ContentRequest":{"required":["status","storeId","title"],"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"title":{"maxLength":200,"minLength":0,"type":"string"},"bodyText":{"maxLength":10000,"minLength":0,"type":"string"},"status":{"type":"string"}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"},"read":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ValidateInvoiceRequest":{"required":["decision"],"type":"object","properties":{"decision":{"type":"string"},"note":{"type":"string"}}},"InvoiceValidationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"invoiceId":{"type":"integer","format":"int64"},"validatedByUserId":{"type":"integer","format":"int64"},"decision":{"type":"string"},"note":{"type":"string"},"validatedAt":{"type":"string","format":"date-time"}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"PageStoreSummary":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/StoreSummary"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"StoreSummary":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"floor":{"type":"string","enum":["GROUND_FLOOR","FLOOR_1","FLOOR_2","FLOORS_2_AND_4","FLOOR_3","FLOOR_4","FLOOR_4_TERRACE"]},"openingHours":{"type":"string"},"contact":{"type":"string"},"facebookUrl":{"type":"string"},"instagramUrl":{"type":"string"},"sourceUrl":{"type":"string"},"imageUrl":{"type":"string"},"logoUrl":{"type":"string"},"email":{"type":"string"},"address":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"EventSummary":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"location":{"type":"string"}}},"PageEventSummary":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EventSummary"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageContentResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ContentResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"CarouselSlideResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"imageUrl":{"type":"string"}}},"PageNotificationResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"WalletResponse":{"type":"object","properties":{"currentBalance":{"type":"integer","format":"int64"},"pendingPoints":{"type":"integer","format":"int64"},"totalCredited":{"type":"integer","format":"int64"},"totalDebited":{"type":"integer","format":"int64"},"totalExpired":{"type":"integer","format":"int64"}}},"PageTransactionResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"TransactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string"},"status":{"type":"string"},"points":{"type":"integer","format":"int64"},"description":{"type":"string"},"expirationDate":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"PageRewardResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/RewardResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"RewardResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"requiredPoints":{"type":"integer","format":"int64"},"stock":{"type":"integer","format":"int32"},"storeName":{"type":"string"}}},"PageRedemptionResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/RedemptionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"CustomerInvoiceResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"invoiceNumber":{"type":"string"},"issuerTaxId":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"totalAmount":{"type":"number"},"points":{"type":"integer","format":"int64"},"status":{"type":"string"},"note":{"type":"string"},"submittedAt":{"type":"string","format":"date-time"}}},"PageCustomerInvoiceResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/CustomerInvoiceResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageAdminUserResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageStoreResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/StoreResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"SummaryResponse":{"type":"object","properties":{"currentBalance":{"type":"integer","format":"int64"},"totalCredited":{"type":"integer","format":"int64"},"totalDebited":{"type":"integer","format":"int64"},"totalExpired":{"type":"integer","format":"int64"}}},"AdminInvoiceResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"invoiceNumber":{"type":"string"},"issuerTaxId":{"type":"string"},"customerTaxId":{"type":"string"},"invoiceDate":{"type":"string","format":"date"},"totalAmount":{"type":"number"},"imageUrl":{"type":"string"},"status":{"type":"string"},"note":{"type":"string"}}},"PageAdminInvoiceResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminInvoiceResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ValidationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"invoiceId":{"type":"integer","format":"int64"},"validatedByUserId":{"type":"integer","format":"int64"},"decision":{"type":"string"},"note":{"type":"string"},"validatedAt":{"type":"string","format":"date-time"}}},"OcrResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"extractedInvoiceNumber":{"type":"string"},"extractedIssuerTaxId":{"type":"string"},"extractedCustomerTaxId":{"type":"string"},"extractedInvoiceDate":{"type":"string","format":"date"},"extractedTotalAmount":{"type":"number"},"extractedText":{"type":"string"},"confidence":{"type":"number"}}},"PageEventResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EventResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageCarouselResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/CarouselResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"DisableTwoFactorRequest":{"required":["code","password"],"type":"object","properties":{"password":{"type":"string"},"code":{"pattern":"\\d{6}","type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}